DATABASE_URL=postgresql://neondb_owner:npg_T7VfCINxyL5S@ep-twilight-recipe-b3unrajz-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
NODE_ENV=development
PORT=3001
TTL_DAYS=7
CLEANUP_INTERVAL_HOURS=1